parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\:\\:integerNode\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot access offset 'browser' on mixed\\.$#"
			count: 1
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Cannot access offset 'collapse_paths' on mixed\\.$#"
			count: 1
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Cannot access offset 'enabled' on mixed\\.$#"
			count: 2
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Cannot access offset 'listener_priority' on mixed\\.$#"
			count: 2
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Cannot access offset 'log_directory' on mixed\\.$#"
			count: 1
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Parameter \\#1 \\$configOption of method Cdn77\\\\TracyBlueScreenBundle\\\\DependencyInjection\\\\TracyBlueScreenExtension\\:\\:isEnabled\\(\\) expects bool\\|null, mixed given\\.$#"
			count: 2
			path: src/DependencyInjection/TracyBlueScreenExtension.php

		-
			message: "#^Parameter \\#2 \\$value of method Symfony\\\\Component\\\\DependencyInjection\\\\Container\\:\\:setParameter\\(\\) expects array\\|bool\\|float\\|int\\|string\\|UnitEnum\\|null, mixed given\\.$#"
			count: 5
			path: src/DependencyInjection/TracyBlueScreenExtension.php

